.btn {
    border-radius: 8px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#preview {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#preview img {
    height: 500px;
    max-width: auto;
}

.toast-success {
    background-color: #4caf50 !important;
}
.toast-error {
    background-color: #f44336 !important;
}
